body {
    background-color: #282828;
}

h1, h2, h3, h4, h5, h6, p {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/************* main container  *************/

.tm-main-container {
    /* height: 200vh; */
    padding: 30px 50px 30px 100px;
}

/************* Header Section  *************/

.tm-header {
    border-top: 5px solid #76c38f;
    background-color: #290000;
    padding-top: 30px;
    height: 550px;
}

/************* Navbar  *************/

.uk-navbar {
    border: none;
    background-color: #290000;
}

.tm-navbar {
    background-color: #290000;
}

.tm-active {
    background-color: #76c38f;
}

.tm-navbar li a {
    color: #fff;
    text-transform: uppercase
}

.tm-navbar li a:hover {
    background-color: #76c38f;
    color: #ffffff
}

/************* Logo  *************/

.tm-logo {
    line-height: 0px;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.tm-logo p {
    clear: both;
    color: #979797;
    padding-left: 15px;
}

.tm-logo a {
    text-shadow: none;
    color: #fff;
}

/************* Slider  *************/

.tm-slider {
    display: block
}

.tm-slider div {
    padding: 20px;
}

.tm-slider div:nth-child(1) {
    width: 40%;
    padding: 100px
}

.tm-slider div:nth-child(2) {
    padding: 40px
}

.tm-slider div:nth-child(2) img {
    border-radius: 50%;
    border: 20px solid #6b6b6b;
}

/************* Main Body  *************/

.tm-body {
    background-color: #660000;
}

.tm-body .tm-service {
    height: 300px;
}

.tm-service {
    padding: 50px 0px 50px 50px;
}

.tm-latest-work-1, .tm-latest-work-2 {
    height: 240px;
    padding: 50px 0px 0px 50px;
}

.tm-latest-work-2 {
    padding-top: 0;
    padding-bottom: 50px
}

.tm-service-block {
    background-color: #ffffff;
    width: 80%;
    text-align: center;
    padding-top: 20px;
    height: 300px;
}

.tm-service-block h2 {
    color: #333333;
    text-transform: uppercase;
    font-size: 30px;
}

.tm-service-block p {
    color: #979797;
}

.tm-latest-work-heading {
    background-color: #303030;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 40px
}

.tm-latest-work-heading h1 {
    position: relative;
    top: -20px;
    background-color: #303030;
    width: fit-content;
    margin: 0 auto;
    padding: 1px 5px 0px 5px;
    text-transform: uppercase;
}

.tm-latest-work-box {
    text-align: center;
    /* border: 3px solid #ffffff; */
}

.tm-latest-work-box h3 {
    background-color: #151515;
    width: 290px;
    border-color: #ffffff;
    border-style: solid;
    border-width: 0px 3px 3px 3px;
    margin: 0 auto;
}

.tm-latest-work-box img {
    border-color: #ffffff;
    border-style: solid;
    border-width: 3px 3px 0px 3px
}

/************* Footer Section  *************/

.tm-footer {
    height: 400px;
    background-color: #303030;
}

.tm-footer .tm-footer-blog-section h4 {
    color: #76c38f;
}

.tm-footer span {
    color: #76c38f;
}

.tm-footer .tm-footer-blog-section ul li {
    color: #76c38f;
    line-height: 30px;
    border-bottom: 1px solid #6b6b6b;
}

.tm-footer .tm-footer-blog-section ul {
    list-style-type: none;
    padding-left: 10px;
}

.tm-footer .tm-footer-blog-section ul li::before {
    content: ">>";
    padding-right: 10px
}

.tm-footer .tm-footer-blog-section {
    padding: 20px
}

.tm-footer .tm-footer-blog-section form .tm-message-form input {
    height: 100px;
    
}


/************* Copyright Section  *************/
.tm-copyright{
    background-color: #2b2b2b;
    padding: 10px 50px 10px 50px;
}

.tm-copyright div:nth-child(2){
    
}
